.w {
    /* 京东的版心是 1190*/
    width: 1190px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

ul, h1, input, button {
    margin: 0;
    padding: 0;
}

input, button {
    border: 0;
    /*取消轮廓边框*/
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #999;
}

.f10 {
    color: #f10215;
}

a:hover {
    color: #c81623;
}

body {
    background-color: #f6f6f6;
}

header {
    height: 80px;
    background-color: #020000;
}

/*浮动 公共类*/
.fl {
    float: left;
}

.fr {
    float: right;
}

/* 快速导航栏 start*/
.shortcut {
    background-color: #e3e4e5;
    height: 32px;
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 32px;
    color: #999;
}

.city {
    margin-left: 200px;
}

.shortcut li {
    float: left;
}

.space {
    width: 1px;
    height: 10px;
    background-color: #999;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;

}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.shortcut svg {
    font-size: 12px;
}

.shortcut .location {
    font-size: 15px;
    color: orange;
}

.mobile {
    position: relative;
}

.mobile img {
    position: absolute;
    top: 32px;
    left: -2px;
    border: 1px solid #ccc;
    padding: 2px;
}

/* 快速导航栏 end*/

/* 中间部分 start*/
.middle {
    height: 140px;
    position: relative;
}

.logo a {
    display: block;
    background: url("../images/logo.png") no-repeat center;
    width: 190px;
    height: 170px;

}

.logo {
    position: absolute;
    left: 0;
    top: -32px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, .3);
}

.form {
    width: 550px;
    height: 35px;
    position: absolute;
    top: 25px;
    left: 320px;
    background-color: pink;
}

.form input {
    box-sizing: border-box;
    width: 500px;
    height: 35px;
    border: 1px solid red;
    float: left;
    font-size: 14px;
    padding-left: 3px;
}

.form button {
    float: left;
    width: 50px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 18px;
}

.shop-car {
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 95px;
    line-height: 33px;
    text-align: center;
}
.shop-car svg {
    color: red;
    margin-right: 5px;
}
.shop-car span {
   position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: 5px;
    right: 26px;
    font-size: 12px;
    color: white;
    line-height: 15px;
}
.hotwords {
    position: absolute;
    left: 320px;
    top: 65px;
    font-size: 12px;
}
/* 中间部分 end*/

