.grid {
    height: 480px;
}

.grid .grid-col1 {
    width: 190px;
    height: 100%;
    background-color: #6e6568;
}

.grid .grid-col2 {
    margin-left: 10px;
    width: 790px;
    height: 100%;
}

.grid .grid-col3 {
    width: 190px;
    height: 100%;
    background-color: white;
}

.grid-col1 ul {
    padding: 10px 0;
    /*这个给反斜杠*/
    font-size: 14px;
    color: white;
}

.grid-col1 a {
    color: white;
    font-size: 16px;
    margin: 0 3px;
}

.grid-col1 a:hover {
    color: #a10215;
}

.grid-col1 ul li {
    padding-left: 12px;
    height: 26px;
    line-height: 26px;

}

.grid-col1 li:hover {
    background-color: #9c9698;
}

.grid-col2-b div {
    margin-top: 10px;
}
.grid-col2-t {
    position: relative;
}
.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 60px;
    background-color: rgba(0,0,0,0.3);
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
}

.arrow-r {
    right: 0;
}

.grid-col2-t a svg {
    width: 100%;
    height: 100%;
    font-size: 30px;
    /* 不是所有图标都可以改颜色，有些个人上传的，不支持 */
    fill: red;
    color: red;
}
.circle {
    width: 175px;
    height: 20px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding-left: 9px;
    box-sizing: border-box;
}
.circle li {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin: 4px;
    /* 鼠标经过的时候变成小手 */
    cursor: pointer;
}
.circle .current {
    background-color: #f10125;
}